.imagen-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fc8c8c; // Cambiar el color de fondo a blanco

    .formulario {
      width: 80%;
      max-width: 400px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: #ffffff;

      h2 {
        text-align: center;
        margin-top: 0;
      }

      form {
        margin-top: 20px;

        .terms-checkbox {
          display: flex;
          align-items: center;
        }
        
        .terms-checkbox input[type="checkbox"] {
          margin-right: 5px;
        }
        
        label {
          display: block;
          margin-bottom: 5px;
        }

        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin-bottom: 10px;
        }

        .black-button {
            background-color: #000000; /* Negro puro */
            color: #ffffff; /* Texto blanco para que se vea en el fondo negro */
            border-color: #000000; /* Borde negro */
           
          
    
            --background: none;
            --box-shadow: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 40px;
            border-radius: 5px;
            padding: 10px 5px;
            font-size: 14px;
            font-weight: bold;
          }
          
          /* Aplicar la clase al botón */
          ion-button.black-button {
            @extend .black-button;
          }
      }

      p {
        text-align: center;
        margin-top: 10px;

        a {
          color: #000;
          text-decoration: none;
        }
       
      }
    }
  }
